@inherits LayoutComponentBase

<head>
    <link href="css/style.css" rel="stylesheet" />
</head>
<div class="page">
    <NavMenu />
    <main>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <article class="content pl-4">
            @Body
        </article>
    </main>
</div>
